@CHARSET "UTF-8";

body {
	font-family: Courier
}

input[type="text"] {
	border-style: solid;
	border-color: black;
}

input[readonly="readonly"] {
    background-color: #CCFF99;
    border-style: none;
}



table {
    border: 1px solid black;
    text-align:center;
    padding:15px;
}

tr:first-child {
	border: 1px dashed black;
}

td {
	padding:8px;
}

/* account status */
td.Frozen {
    color: #0BAAF4;
    font-weight: bold;
}
	
td.Active {
	color: #04E33E;
	font-weight: bold;
}


/* transaction type */
tr.transferin {
	background-color: 	#5CE68A;
}

tr.deposit {
	background-color: 	#5CE68A;
}


tr.transferout {
	background-color: 	#FF9999;
}

tr.withdraw {
	background-color: 	#FF9999;
}



.menu1 {
	background-color: rgb(236,137,56);
	border-style: outset;
	/* border-radius:25px; */
}